<!-- Start of Social Media Links -->
	
	<div id="social-share" class="social-share">
		<span id="instagram-page">https://www.instagram.com/travelnziza/</span>
		<span id="twitter-page">https://www.twitter.com/travelnziza</span>
		<span id="facebook-page">https://web.facebook.com/travelnziza</span>
		<a href="{{@blog.url}}/rss/" class="rss-subscribe" target="_blank"><i class="fa fa-rss"></i></a>
	</div>
	
<!-- End of Social Media Links -->