<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacts</h5></span>
	<div class="cp-contacts">
		<p>Send us an email at <p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:travelnziza@gmail.com">travelnziza@gmail.com</a></p>
	</div>
</section>
<!-- end widget -->