<!-- start widget -->
<section class="widget">
	<span><h5>Start here</h5></span>
	<div id="editors-pick" class="editors-pick">
		<a href="http://www.travelnziza.com/rwanda"><img src="http://i.imgur.com/xbgG7MI.jpg"></a>
		<a href="#"><img src="http://i.imgur.com/1P7Va3Y.jpg"></a>
	</div>
</section>
<!-- end widget -->