<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacts</h5></span>
	<div class="cp-contacts">
		<p>Subscribe to our newsletter to receive monthly updates!</p>
	</div>
</section>
<!-- end widget -->