<!-- start widget -->
<section class="widget">
	<span><h5>Murakaza neza</h5></span>
	<div id="editors-pick" class="editors-pick">
		Welcome to Travel Nziza! This website aims to promote the tourism in Rwanda and the East African region. This is a test.
	</div>
</section>
<!-- end widget -->